<%if flash[:ok] || flash[:error]%>
	<script>
	$(document).ready(function(){
		$('#confirmation').fadeIn(200);
		setTimeout(function(){$('#confirmation').fadeOut(1000)},3000);
		
		if(<%=flash[:error] == "code"%>){
			$('#form_code').show();
		} else if (<%=flash[:error] == "new"%>){
			$('#form_join').show();
		}
		
		
	});
	
	</script>
<%end%>

<div class="logo_top">
	<img src="/assets/canu_logo.svg">
</div>

<%unless flash[:ok].nil?%>
<div id="confirmation"><%=flash[:ok]%></div>
<%end%>

<div class="above" id="surface">
	<div class="content_top_full"></div>
	<div class="content_top"></div>
</div>
<div class="below" id="underwater">
	<div class="surface_info" id="fuck">
		<img src="/assets/baloon.svg" id="baloon">
		<p class="surface_header" id="header_main">
			Getting together is about to 
			<span>change</span>
		</p>
		<div class="codes">
			<a class="alpha_button i_got" id="goto_join">I WANT TO JOIN</a>
			<a class="i_want" id="goto_code">I have a code</a>
			<div class="form_window<%= flash[:error].nil? ? '' : ' error_border'%>" id="form_join">
				<%= form_for @user, :url => new_user_url do |f|%>
				<div class="input_holder">
					<input name="user[name]" type="text" id="code" placeholder="Your Name"/>
				</div>
				<div class="input_holder">
					<input name="user[email]" type="text" id="email" placeholder="e-mail"/>
				</div>
				<div class="input_holder">
					<input type="submit" name="submit" value="REQUEST INVITE" class="submit_button" id="submit_join"/>
				</div>
				<%end%>
			</div>
			<div class="form_window_code<%= flash[:error].nil? ? '' : ' error_border'%>" id="form_code">
				<%= form_for @user, :url => root_url do |f|%>
				<div class="input_holder">
					<input name="user[code]" type="text" id="code" placeholder="Code"/>
				</div>
				<div class="input_holder">
					<input name="user[name]" type="text" id="code" placeholder="Your Name"/>
				</div>
				<div class="input_holder">
					<input name="user[email]" type="text" id="email" placeholder="e-mail"/>
				</div>
				<div class="input_holder">
					<input type="submit" name="submit" value="GET GOING" class="submit_button" id="submit_code"/>
				</div>
				<%end%>
			</div>
		</div>
	</div>	
	<div id="iceberg_main">
		<img src="/assets/iceberg.svg">
	</div>
	
	<div class="content">
		<div id="dive_in_action" class="dive_in">
			<p style="display: none">Get Air</p>
			<p>Dive In</p>
		</div>
		<p class="iceberg" id="welcome">
					Hi!
					<br/>
We are entering Iceberg state. We’ve been working completely under water for some time now. It is time to invite you to take part of the creation together with us.<br/> Dive in to explore more.</p>
	</div>	
	

	<div id="underworld" class="underworld_content">
		<div id="tabs">
			<ul class="menu_bottom">
				<li><a href="#tab-1">About</a></li>
				<li><a href="#tab-2">Team</a></li>
				<li><a href="#tab-3">Contact</a></li>
				<a class="other" href="http://blog.canu.se/">Blog</a>
			</ul>
			
			<div class="apple" id="tab-1">
				<p class="left">CANU is an app that    makes it fast and simple for you to share and join spontaneous activities on the go.<br/><br/>Stop scrolling through the past. Look into the future, join the fun and be part of something real. </p>
			</div>
			 <div class="apple" id="tab-2">
				 <span class="team" id="team_section">
					<p class="header">Our Story</p>
					<p class="body">We all came from different places and gathered with a lot of unknown people at Hyper Island. We liked Stockholm very much and the people we hung out with. But we quickly found a problem - there is no easy way of getting in contact with the locals in Stockholm. Of course you can go to parties and such, but you don't make friends at a big party. You met them through friends or just random occasions, like hanging out in the park.<br/><br/>
We decided to create CANU.</p>
					<ul class="team">
						<li id="did"></li>
						<li id="rog"></li>
						<li id="vit"></li>
						<li id="seb"></li>
						<div class="member_story" id="did_story">
							<p class="member_name">Didrik Persson</p>
							<p class="story">Grew up on the south of the south side of Sweden, Österlen. Our farm, Tillytorp was my home for 18 years. During those years I had a lot of time to think and find myself. I’ve always been a thinker and a problem solver loving the challenge of finding a great solution to a hard problem. As a kid I wanted to become a inventor for that reason alone. I’ve made a movie
where I single handedly organized everything from writing a script to having a successful world premiere. Im ambitious and fearless. Right now I’m developing myself at Hyper Island, putting my self out there and loving it.</p>
						</div>
						<div class="member_story" id="rog_story">
							<p class="member_name">Roger Calaf</p>
							<p class="story">
								Comupter engineer born in Barcelona. Worked for 4 years on the web commerce services B2B, B2C build with ruby on rails. Start a little business about caviar selling but it ended with a great friendship with provider global sales manager. Some self made simple apps for IOS.
							</p>
						</div>
						<div class="member_story" id="vit_story">
							<p class="member_name">Vitali Poluzhnikov</p>
							<p class="story">Shaped up in the sunny side of southern Russia. I was surrounded by art, sport and nature in my early life. Moved to Vancouver at the age of 17, where I studied Graphic Design. Later moved to Ville de Montréal, where I studied Marketing and Economics. I developed two startup concepts: Passfort and Initi. <br/>I am an initiator and solution designer. I love to challenge everything around. Apart from that I love electronic music, mountains, racing and great times with awesome people. Now enjoying Stockholm and the scandinavian mindset, while studying at Hyper Island.</p>
						</div>	
						<div class="member_story" id="seb_story">
							<p class="member_name">Sebastian Gustafsson</p>
							<p class="story">Brought up on the west coast of Sweden where the infamous Falcon Beer hails from, I grew up wanting to become a cop like every other kid but in my teens I decided to pursue a career in music.
I started my first band at the age of 15 and signed my first record deal with Warner Music and Universal Publishing at the age of 23 and due to that I got start my own company. While in College I studied economics and marketing and right now I'm exploring my creativity at Hyper Island, Stockholm.<br/>
I am an initiator, a social genius and determined to conquer every obstacle that lays in my way. I'm a team player and I get motivated when amazing people do great stuff together.</p>
						</div>
					</ul>
					<ul class="details">
						<li>
							<p class="name">Didrik Persson</p>
							<p class="title">CEO & Founder</p>
							<p class="email">didrik@canu.se</p>
						</li>
						<li>
							<p class="name">Roger Calaf</p>
							<p class="title">CTO & Founder</p>
							<p class="email">roger@canu.se</p>
						</li>
						<li>
							<p class="name">Vitali Poluzhnikov</p>
							<p class="title">Vision/Design & Founder</p>
							<p class="email">vitali@canu.se</p>
						</li>
						<li>
							<p class="name">Sebastian Gustafsson</p>
							<p class="title">Evangelist & Founder</p>
							<p class="email">sebastian@canu.se</p>
						</li>

					</ul>
					<p class="header">Join our Tribe</p>
					<p class="body">Like what we are doing? We are in a lookout for the very right people.<br/> Drop us a line and lets talk.</p>
				</span>
			 </div>
			 <div class="apple" id="tab-3">
				 <p class="header">Ask us anything</p>
				 <p class="body">getgoing@canu.se</p>
				 <p class="header">Tech Support</p>
				 <p class="body">support@canu.se</p>
			 </div>	
		</div>
	</div>

	

</div>
