<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="top_bg_index"></div>
<div class="top">
	<div class="logo_top">
		<a href="index"><img class="logo_active" src="/assets/canu_logo.svg"></a>
	</div>
	<ul class="menu">
		<li><a href="world">World</a></li>
		<li><a href="#" id="tribes">Tribes</a><div id="soon">soon</div></li>
		<li><a href="product">Product</a></li>
		<li><a href="about">About us</a></li>
		<li><a href="http://blog.canu.se/">Blog</a>
	</ul>
	<div class="codes">
		<%unless flash[:ok].nil?%>
			<div id="confirmation"><%=flash[:ok]%></div>
		<%end%>
		<div class="form_window" id="form_join"<%= flash[:goaway]%>>
			<%= form_for @user, :url => new_user_url do |f|%>
			<input type="submit" name="submit" value="GO" class="submit_button" id="submit_join"/>
			<div class="input_holder">
				<input name="user[email]" type="text" id="email" class="email<%= flash[:error].nil? ? '' : ' error_border'%>" placeholder="<%= flash[:error].nil? ? 'Notify me about Launch' : 'Ooops. Wrong e-mail'%>"/>
			</div>
			<%end%>
		</div>
	</div>
</div>

<div class="feature_bg" id="f_intro_index">	
	<div class="feature">
		<p class="body_landing" style="color: #fff">
			Daily Activities</br> are all around you</br>
			<span>
			Share what you feel like doing.</br> Get together.
			</span>
		</p>
		<!--
			<a href="world" class="learn_lifestyle">Lifestyle</a>
			<a href="product" class="learn_app">The App</a>
			<img class="appstore" src="/assets/appstore.png">
		-->
		<img class="landing" src="/assets/phone_500.png">
		<img class="landing_feed" src="/assets/feed.png">	
	</div>
</div>		
<div class="feature_bg_landing" id="f_footer">
	<div class="feature">	
		<div class="social_connect">
	        <div id="fb_boxy">
	            <div class="fb-like"  data-href="https://www.facebook.com/pages/CANU/176144762529176" data-send="false" data-layout="button_count" data-width="292" data-show-faces="false" data-font="trebuchet ms"></div>
	        </div>
			 <div>
	            <a href="https://twitter.com/CANUgettogether" class="twitter-follow-button" data-show-count="false">Follow @CANUgettogether</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	        </div>
	    </div>	 
		<ul class="footer">
			<!--
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a><li>
			-->
			<li><a href="contacts">Contacts</a></li>
			<li><a href="press">Press</a></li>
			<li><a href="jobs">Jobs</a></li>
			<li><a href="http://somewherehq.com/canu" target="_blank">Somewhere HQ</a></li>
			<li><a href="https://www.facebook.com/canugettogether" target="_blank">Facebook</a></li>
			
			<!--<li><a href="#">Help</a></li>-->
		</ul>	
	</div>
</div>