<div class="feature">
	<ul class="stats">
		<li>
			<a class="item">Total Downloads:</a> 
			<a class="number"><%=@ask_for_code.size%></a>
		</li>
		<li>
			<a class="item">Total Users:</a> 
			<a class="number"><%=@ask_for_code.size%></a>
		</li>
		<li>
			<a class="item">Ask for a code:</a> 
			<a class="number"><%=@ask_for_code.size%></a>
		</li>
		<li>
			<a class="item">Ghost Users:</a> 
			<a class="number"><%=@ask_for_code.size%></a>
		</li>
		<li>
			<a class="item">Activities Created:</a> 
			<a class="number"><%=@ask_for_code.size%></a>
		</li>
		<li>
			<a class="item">Average Visits:</a> 
			<a class="number"><%=@ask_for_code.size%></a>
		</li>
	</ul>
</div>	

