<%# activity["invitation_token"]%>
<li onclick="window.location.href='<%= show_local_activities_url(activity["id"])%>'" style="-webkit-user-select: none;">
	<div class="activity_container_public">
		<div class="activity_header">
			<div style="background-image: url(/assets/webapp/icon_userpic@2x.png);" class="creator_userpic">
				<div class="alternative_userpic" style="background-image: url(http://api.canu.se/<%= activity['user']['profile_pic']%>);"></div>
			</div>
			<span class="creator_name"><%= activity["user"]["user_name"]%><span class="how_many">& <%= activity["attendee_ids"].size - 1%></span></span>
			<span class="clear"></span>
			<a href="https://itunes.apple.com/us/app/canu-get-together/id697998179?mt=8&ls=1" class="go_button"></a>
			<p class="activity_title"><%= activity["title"]%></p>
			<span class="clear_line_2"></span>
			<p class="activity_address">			
			<%= activity["street"].empty? ? activity["place_name"] : activity["street"] + ", " + activity["city"]%>
			<%= activity["city"].empty? ? activity["country"] : " "%>	
			</p>
			<span class="activity_hours">
				
				
				
				<%= DateTime.strptime(activity["start"], '%Y-%m-%dT%H:%M:%S%z').strftime("%H:%M")%>	 - 
				<span><%= DateTime.strptime(activity["end_date"], '%Y-%m-%dT%H:%M:%S%z').strftime("%H:%M")%></span>
			
			
			
			
				
			</span>			
			
			<span class="activity_date"><%= DateTime.strptime(activity["start"], '%Y-%m-%d').strftime("%b %d")%></span>
		</div>
	</div>
