


    

<% content_for :js do %>


 var center;		  
 var marker;
 var map,map2;

function initMap(){


	center = new google.maps.LatLng(22, 4);
	zoom = 1;
	
	center_2 = new google.maps.LatLng(59.32893, 18.06491);
	zoom_2 = 11;
	
	
	//alert('Loading Map');
	
	
	var mapOptions = {
     //scrollwheel: false,
     zoom: zoom,
     disableDefaultUI: true,
     mapTypeId: google.maps.MapTypeId.ROADMAP,
     center: center,
     styles: 
[{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"stylers":[{"hue":"#00aaff"},{"saturation":-100},{"gamma":2.15},{"lightness":12}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"lightness":24}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":57}]}]

   };
   
	var mapOptions_2 = {
     //scrollwheel: false,
     zoom: zoom_2,
     disableDefaultUI: true,
     mapTypeId: google.maps.MapTypeId.ROADMAP,
     center: center_2,
     styles: 
[{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"stylers":[{"hue":"#00aaff"},{"saturation":-100},{"gamma":2.15},{"lightness":12}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"lightness":24}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":57}]}]

   };

   map = new google.maps.Map(document.getElementById("map_canvas"),
           mapOptions);
           
   map_2 = new google.maps.Map(document.getElementById("map_canvas_2"),
           mapOptions_2);

	var image = new google.maps.MarkerImage(
 		'/wp-content/themes/collections/images/bo-super-small.png',
		new google.maps.Size(40,49),
		new google.maps.Point(0,0),
		new google.maps.Point(0,0)
	);
	<%@data['activity']['active_activities_locations'].each_with_index do |activity,index|%>
		
	    
	    var myIcon = new google.maps.MarkerImage("http://vinitiate.se/blogazine/photos/canu_pin.png", null, null, null, new google.maps.Size(20,30));

		
		var marker_<%=index%> = new google.maps.Marker({
				         map:map,
				         draggable:false,
				         animation: google.maps.Animation.DROP,
				         position: new google.maps.LatLng("<%=activity['activity']['latitude']%>","<%=activity['activity']['longitude']%>"),
				         icon: myIcon
				      });
	  /*	var infowindow_<%=index%> = new google.maps.InfoWindow({
	      content: "mola"
	   	});

	  	google.maps.event.addListener(marker_<%=index%>, "click", function() {
	  	  infowindow_<%=index%>.open(map,marker_<%=index%>);
	  	});*/
	<%end%>
	
	<%@data['activity']['active_activities_locations'].each_with_index do |activity,index|%>
		var marker_<%=index%> = new google.maps.Marker({
				         map:map_2,
				         draggable:false,
				         animation: google.maps.Animation.DROP,
				         position: new google.maps.LatLng("<%=activity['activity']['latitude']%>","<%=activity['activity']['longitude']%>"),
				         icon: myIcon
				      });
	  /*	var infowindow_<%=index%> = new google.maps.InfoWindow({
	      content: "mola"
	   	});

	  	google.maps.event.addListener(marker_<%=index%>, "click", function() {
	  	  infowindow_<%=index%>.open(map,marker_<%=index%>);
	  	});*/
	<%end%>
				
 }

<%end%>

<ul class="stats">
	<li class="two">
		<a class="number big"><%= @data['activity']['total_active']%></a>
		<a class="item">Activities Active</a> 
	</li>
	<li class="two"> 
		<a class="number big" style="opacity:0.5"><%= @data['activity']['total']%></a>
		<a class="item" style="opacity:0.5">Activities Created</a> 
	</li>
	<span class="clear"></span>
	<li>
		<a class="number"><%= @data['user']['total']%></a>
		<a class="item">Total Users</a> 
	</li>
	<li>
		<a class="number"><%= @data['user']['total_phone_verified']%></a> 
		<a class="item">Verified Numbers</a> 
	</li>
	<li>
		<a class="number"><%= @data['user']['ghost']%></a>
		<a class="item">Ghosts Hiding</a> 
	</li>
</ul>

<div class="map_stats">
	<div id="map_canvas"></div>
</div>	
<div class="map_stats">
	<div id="map_canvas_2"></div>
</div>	




