<%# @activity%>
<%# @attendees%>
<div class="wrapper">
	<div class="activity_container">
		<div class="creator_info">
			<img src="http://api.canu.se/<%=@activity['user']['profile_pic']%>" class="creator_userpic" onerror="MissingUserpic(this);"/>
			<a class="creator_name"><%= @activity['user']['first_name']%></a>
			
			<span class="activity_hours"><%= Time.parse(@activity['start']).strftime("%H:%M")%> - <span><%=Time.parse(@activity['end_date']).strftime("%H:%M")%></span></span>	
			<span class="activity_date"><%= Time.parse(@activity['start']).strftime("%d %h")%></span>
		
		</div>
		<div class="activity_header">
			<!--<div class="map">
				<iframe width='100%' height='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v3/vinitiate.ggnah1pf/mm/zoomwheel.html?secure=1#11/59.3269/18.1079'></iframe>
			</div>-->
			<p class="activity_title"><%= @activity['title']%></p>
			<p class="activity_address"><%= @activity['street']%>, <%= @activity['city']%>, <%= @activity['zip_code']%></p>
			<p class="activity_description"><%= @activity['description']%></p>
		
		</div>
		<div class="activity_chat">
			<ul>
				<%= render :partial => 'chat_message', :collection => @chat_messages%>
				<li class="leave_message">
					<div class="input_chat">
						<input class="authorization" placeholder="Say something nice"/>
						<a href="<%=contribute_url%>"><input type="submit" class="chat_submit" value="send"/></a>
					</div>
				</li>
			</ul>
		</div>
		<div class="activity_menu">
			<%= link_to '<div class="back_button"></div>'.html_safe, :back %>
			<a class="people_button"><%= @attendees.size%></a>
			<a href="<%=contribute_url%>" class="go_button">GO</a>
			<a class="going_button"></a>
		</div>
	</div>
	<div class="activity_people_wrapper">
		<ul class="people_list">
			<%= render :partial => "attendee", :collection => @attendees%>
		</ul>						
		<div class="activity_menu">
			<div class="back_button" id="bb_ppl_list"></div>
		</div>
	</div>
</div>