<!DOCTYPE HTML!>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta charset="utf-8">
		<title><%=@title%></title>

		<meta http-equiv="Content-language" content="en" /> 
		<meta name="Keywords" content="CANU, app, canu app, activities, stockholm, hyper island, get together">
		<meta name="Description" content="Put your future activities in one place. CANU is the quickest way to get your friends together.">		
	
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="user-scalable=no, width=device-width"/>
		<%= display_meta_tags %>
		<%= csrf_meta_tags %>
		<%= content_for :head %>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<%= stylesheet_link_tag 'style' %>
	
		
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		
		<%= javascript_include_tag "application_rest" %>
		
		
		<script src='https://raw.github.com/x1024/jquery-fastbutton/master/bin/fastbutton.js'></script>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"> 
	   
	    <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-39022803-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		  var disqus_identifier = 'canu';		  
		</script>
	
	</head>
	<body class="'use-fastclick' <%=@body_class%>">
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<a href="http://www.canu.se"><div class="logo_top"></div></a>

		<ul class="top_menu">
			<div class="centering_top">
				<li><%= link_to 'About',vision_url, :class => (params[:action] == 'vision' ? 'selected' : nil)%></li>
				<li><%= link_to 'Our Story',about_url, :class => (params[:action] == 'about' ? 'selected' : nil)%></li>
				<li class="mobile_hide"><%= link_to 'Support',help_url%></li>
				<li class="mobile_hide"><%= link_to 'Press',press_url, :class => (params[:action] == 'press' ? 'selected' : nil) %></li>		
				<li><a href="http://lifestyle.canu.se" target="_blank">Lifestyle</a></li>
				<li><%= link_to 'Contacts',contacts_url, :class => (params[:action] == 'contacts' ? 'selected' : nil) %></li>
			</div>
		</ul>		
		
		<div class="section_normal">
			<%= yield%>
		</div>

		<div id="comments_blur">
			<div id="comments_description">
				 Feedback, advice, compliments, complaints, whatever you feel like sharing.<br/><br/>			
			</div>
		</div>
		<div id="comments_container">

			<!--<div id="close_btn"></div>-->
			<div id="comments">
				
				<div id="disqus_thread"></div>
				<div id="hider"></div>
			    <script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = 'canu'; // required: replace example with your forum shortname
			
			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			</div>
		</div>
	</body>
</html>


