<!DOCTYPE HTML!>
<html>
	<head>
		<meta charset="utf-8">
		<title><%=@title%></title>

		<meta http-equiv="Content-language" content="en" /> 
		<meta name="Keywords" content="CANU, app, activities, stockholm, hyper island">
		<meta name="Description" content="CANU is an app that makes it fast and simple for you to share and join spontaneous activities on the go.">		
	
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<%= stylesheet_link_tag 'style' %>

		
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		
		<%= javascript_include_tag "application_rest" %>
		
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"> 
	   
	    <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-39022803-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-42941115-1', 'canu.se');
		  ga('send', 'pageview');
		
		</script>
		
		<script type="text/javascript">
		  var disqus_identifier = 'canu';
		</script>
	
	</head>
	<body>
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<a href="http://www.canu.se"><div class="logo_top"></div></a>


		<ul class="top_menu">

				<li><%= link_to 'About us',about_url, :class => (params[:action] == 'about' ? 'selected' : nil)%></li>
				<li><%= link_to 'Press',press_url, :class => (params[:action] == 'press' ? 'selected' : nil) %></li>
				<!--<li><%= link_to 'Jobs',jobs_url, :class => (params[:action] == 'jobs' ? 'selected' : nil) %></li>-->
				<li><%= link_to 'Privacy',privacy_url, :class => (params[:action] == 'privacy' ? 'selected' : nil) %></li>
				<li><%= link_to 'Terms of Service',terms_url, :class => (params[:action] == 'terms' ? 'selected' : nil) %></li>	
				<li><%= link_to 'Help',help_url, :class => (params[:action] == 'help' ? 'selected' : nil) %></li>
				<li id="feedback_btn">Feedback</a></li>
				<li><a href="http://canugettogether.tumblr.com">Blog</a></li>
				<li><%= link_to 'Contacts',contacts_url, :class => (params[:action] == 'contacts' ? 'selected' : nil) %></li>
			
			
		</ul>		
	
		
		
		<div class="section_normal">
			<%= yield%>
		</div>

		<div id="comments_blur">
			<div id="comments_description">
				 Feedback, advice, compliments, complaints, whatever you feel like sharing.<br/><br/>			
			</div>
		</div>
		<div id="comments_container">

			<!--<div id="close_btn"></div>-->
			<div id="comments">
				
				<div id="disqus_thread"></div>
				<div id="hider"></div>
			    <script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = 'canu'; // required: replace example with your forum shortname
			
			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			</div>
		</div>
	</body>
</html>


